.custom-bg {
    background: rgb(150,18,215);
    background: linear-gradient(180deg, rgba(150,18,215,1) 0%, rgba(255,0,241,1) 50%, rgba(215,18,154,1) 100%);
}

.not-active{
    color:white;
}

.active-bg{
    background-color:black 
    
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 4px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
.container {
    max-height: 100vh;
    overflow-y: auto;
}
.content-container {
    max-height: 100vh; /* Adjust the height as needed */
    overflow-y: auto;
    padding-right: 10px; /* Optional: Prevents scrollbar overlap */
}
.content-container::-webkit-scrollbar {
    width: 8px;
}
.content-container::-webkit-scrollbar-thumb {
    background-color: purple;
    border-radius: 4px;
}
.content-container::-webkit-scrollbar-track {
    background: #f1f1f1;
}

