
<div class="container-fluid">
    <div class="row flex-nowrap">
      <!-- Sidebar -->
      <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 custom-bg">
        <div class="d-flex flex-column align-items-center align-items-sm-center px-3 pt-2 text-white min-vh-100">
          
          <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start gap-4" id="menu">
            <!-- Sidebar Links -->
              <div class="btn mx-auto mt-2" (click)="goBackward()">
                <i class="bi bi-skip-backward-fill"></i>
                <span class="ms-1 d-none d-sm-inline">Go Back</span>
              </div>
             <ng-container *ngIf="!isUserLogedIn">
              <li class="nav-item"><a  class="nav-link not-active" routerLink="/signup" routerLinkActive="active-bg">
                <i class="bi bi-person-lock"></i> <span class="ms-1 d-none d-sm-inline">Create Account</span>
              </a></li>
              <li class="nav-item"><a  class="nav-link not-active" routerLink="/login" routerLinkActive="active-bg">
                <i class="bi bi-key"></i> <span class="ms-1 d-none d-sm-inline">Login Account</span>
              </a></li>
             </ng-container>
             <ng-container *ngIf="isUserLogedIn && isAdmin">
              <li class="nav-item"><a  class="nav-link not-active" routerLink="/add-user" routerLinkActive="active-bg">
                <i class="bi bi-person-plus"></i> <span class="ms-1 d-none d-sm-inline">Add User</span>
              </a></li>
             </ng-container>
             <div class=" ms-1 d-none d-sm-inline mt-4" *ngIf="isUserLogedIn">
              <app-sidebar-image></app-sidebar-image>
              <div class="text-center mt-4">
                <p>{{user()?.company?.name}}</p>
                <p>{{user()?.company?.address}}</p>
              </div>
             </div>
             
             
             <!-- <ng-container *ngIf="isUserLogedIn">
              <li class="nav-item"><a  class="nav-link not-active" routerLink="/add-employee" routerLinkActive="active-bg">
                <i class="bi bi-person-walking"></i> <span class="ms-1 d-none d-sm-inline">Add Employee</span>
              </a></li>
             </ng-container> -->
            <!-- Add more links as needed -->
          </ul>
          <hr>
          <!-- User Dropdown -->
          <div class="dropdown pb-4"  style="position: absolute ; bottom: 0;" *ngIf="isUserLogedIn">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="this.user()?.profileImage || 'assets/images/default_profile.png'" alt="hugenerd" width="40" height="40" class="rounded-circle">
                <span class="d-none d-sm-inline mx-1">{{user()?.firstName}}</span>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" routerLink="/setting">Settings</a></li>
                <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" routerLink="/login" (click)="logout()">Sign out</a></li>
            </ul>
        </div>
        
        </div>
      </div>
      <!-- Main Content -->
      <div class="col py-3 content-container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
  