.custom-bg {
    background-color: #7e46f5; /* Custom blue */
    
}

.not-active{
    color:white;
}

.active-bg{
    background-color:black /* Custom blue */
    
}

.demo-row-is-clicked {
    font-weight: bold;
    color:green;
  }

  .demo-table {
    width: 100%;
  }
  
  .mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }


