<div class="custom-bg w-100">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/home" routerLinkActive="active-bg">Home</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/add-employee" routerLinkActive="active-bg">Add Employee</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/view-employee" routerLinkActive="active-bg">View Employee</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/manage-department" routerLinkActive="active-bg">Manage Department</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/manage-role" routerLinkActive="active-bg">Manage Role</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/manage-leaves" routerLinkActive="active-bg">Manage Leaves</a></li>
        <li class="nav-item"><a  class="nav-link not-active" routerLink="/about" routerLinkActive="active-bg">About</a></li>
      </ul>
    </header>
  </div>
