<div class="container d-flex flex-column align-items-center min-vh-100">
    <div class="w-100 mb-4">
        <div class="bg-secondary-subtle p-5 rounded shadow">
            <h2 class="text-center mb-4">Tasks</h2>
            <form (ngSubmit)="submitTask()" [formGroup]="taskForm">
                <div class="row g-3">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="employee">Employee</label>
                            <select class="form-select" formControlName="employee" name="employee" (change)="employeeSelected()">
                                <option [ngValue]="employee" *ngFor="let employee of employeeList">{{employee.firstName}} {{employee.lastName}}</option>
                            </select>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="taskName">Task Name</label>
                            <textarea type="text" class="form-control" formControlName="taskName" name="taskName"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label class="form-label" for="startDate">Start Date</label>
                            <input type="date" class="form-control" formControlName="startDate" name="startDate">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="dueDate">Due Date</label>
                            <input type="date" class="form-control" formControlName="dueDate" name="dueDate">
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="completedDate">Completed Date</label>
                            <input type="date" class="form-control" formControlName="completedDate" name="completedDate">
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary w-25" *ngIf="!isGoingToUpdate">Add Task</button>
                <button type="button" class="btn btn-primary w-100" *ngIf="isGoingToUpdate" (click)="updateTask()">Update Task</button>
            </form>
        </div>
    </div>
    <div class="w-100">
        <div class="bg-white p-4 rounded shadow">
            <h4 class="text-center mb-3">Tasks List</h4>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Task Name</th>
                        <th>Start Date</th>
                        <th>Due Date</th>
                        <th>Completed Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody *ngIf="taskList.length>0">
                    <tr *ngFor="let task of taskList">
                        <td>{{task.id}}</td>
                        <td>{{task.taskName}}</td>
                        <td>{{ task.startDate | date: 'yyyy-MM-dd' }}</td>
                        <td>{{task.dueDate | date: 'yyyy-MM-dd' }}</td>
                        <td>{{task.completedDate | date: 'yyyy-MM-dd' }}</td>
                        <td>
                            <button class="btn btn-warning btn-sm" (click)="onEdit(task)"><i class="bi bi-pencil-square"></i></button>
                            <button class="btn btn-danger btn-sm" (click)="onDelete(task)"><i class="bi bi-trash3"></i></button>
                        </td>
                    </tr>
                </tbody>
                <tbody *ngIf="tasksMessage">
                    <tr>
                        <td colspan="6" class="text-center">{{tasksMessage}}</td>
                    </tr>
                </tbody>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                      <li class="page-item"><button class="page-link" (click)="goToPreviousPage()">&laquo;</button></li>
                      <span class=" mx-3 my-auto">{{(offset/5)+1}}</span>
                      <li class="page-item"><button class="page-link" (click)="goToNextPage()">&raquo;</button></li>
                    </ul>
                </nav>
            </table>
        </div>
    </div>
</div>
