<div class="container">
    <h1 class=" text-center my-4 bg-black p-4 text-white fw-bolder">View Employee</h1>
    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Department</th>
            <th scope="col">Role</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody *ngIf="employeeList.length>0">
          <tr *ngFor="let employee of employeeList; index as i;">
            <td >{{employee.id}}</td>
            <td >{{employee.firstName+" "+employee.lastName}}</td>
            <td >{{employee.email}}</td>
            <td >{{employee.department?.name}}</td>
            <td >{{employee.role?.name}}</td>
            <td >
              <i class="btn bi bi-trash3 btn-outline-danger" (click)="deleteEmployee(employee)"></i>
              <span class=" mx-1"></span>
              <i class="btn bi bi-pencil-square btn-outline-success" (click)="loadUpdateModel(employee)"
               data-bs-toggle="modal" data-bs-target="#staticBackdrop"></i>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="employeeMessage">
          <tr>
            <td colspan="6" class="text-center">{{employeeMessage}}</td>
          </tr>
        </tbody>
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            <li class="page-item"><button class="page-link" (click)="goToPreviousPage()">&laquo; Previous</button></li>
            <span class=" mx-3 my-auto">{{(offset/5)+1}}</span>
            <li class="page-item"><button class="page-link" (click)="goToNextPage()">Next &raquo;</button></li>
          </ul>
        </nav>
      </table>
</div>

<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">Update Employee</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form (ngSubmit)="testUpdate()" [formGroup]="employeeForm">
    
          <div class="mb-3">
            <label for="firstName" class="form-label">First Name</label>
            <input type="text" id="firstName" class="form-control" formControlName="firstName" name="firstName" 
            [(ngModel)]="selectedEmployee.firstName">
            <small *ngIf="employeeForm.controls.firstName.errors && employeeForm.controls.firstName.touched" 
            class="text-danger fst-italic">First name should be provided.</small>
          </div>
      
          
          <div class="mb-3">
            <label for="lastName" class="form-label">Last Name</label>
            <input type="text" id="lastName" class="form-control" formControlName="lastName" name="lastName"
            [(ngModel)]="selectedEmployee.lastName">
            <small *ngIf="employeeForm.controls.lastName.errors && employeeForm.controls.lastName.touched" 
            class="text-danger fst-italic">Last name should be provided.</small>
          </div>
      
          
          <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" id="email" class="form-control" formControlName="email" name="email"
            [(ngModel)]="selectedEmployee.email">
            <small *ngIf="employeeForm.controls.email.errors? employeeForm.controls.email.touched && employeeForm.controls.email.errors['required']:false" 
            class="text-danger fst-italic">Email should be provided.</small>
            <small *ngIf="employeeForm.controls.email.errors? employeeForm.controls.email.dirty && employeeForm.controls.email.status=='INVALID':false" 
            class="text-danger fst-italic"> Please enter valid email.</small>
          </div>
      
          
          <div class="mb-3">
            <label for="department" class="form-label">Department</label>
            <select id="department" class="form-select" formControlName="department" name="department">
              <option *ngFor="let department of departmentList" [ngValue]="department">{{ department.name }}</option>
            </select>
            <small *ngIf="employeeForm.controls.department.errors && employeeForm.controls.department.touched" 
            class="text-danger fst-italic">Department should be provided.</small>
          </div>
      
          
          <div class="mb-3">
            <label for="role" class="form-label">Role</label>
            <select id="role" class="form-select" formControlName="role" name="role">
              <option *ngFor="let role of roleList" [ngValue]="role">{{ role.name }}</option>
            </select>
            <small *ngIf="employeeForm.controls.role.errors && employeeForm.controls.role.touched" 
            class="text-danger fst-italic">Role should be provided.</small>
          </div>
      
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-success" 
            *ngIf="!employeeForm.errors">Update</button>
          </div>

        </form>

      </div>
      
    </div>
  </div>
</div>
