.shine-wrapper {
    position: relative;
    overflow: hidden;
}

.shine-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: -75%;
    width: 50%;
    height: 100%;
    background: linear-gradient(
        120deg,
        rgba(255, 255, 255, 0.1) 0%,
        rgba(255, 255, 255, 0.4) 50%,
        rgba(255, 255, 255, 0.1) 100%
    );
    transform: skewX(-25deg);
    animation: shine 2s infinite;
    }

    @keyframes shine {
    0% {
        left: -75%;
    }
    100% {
        left: 125%;
    }
}