<div class="container d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100">
        <div class="col-md-4">
            <div class="bg-secondary-subtle p-5 rounded shadow mb-4">
                <h2 class="text-center mb-4">Leaves</h2>
                <form (ngSubmit)="submitLeave()" [formGroup]="leaveForm">
                    <div class="mb-3">
                        <label class="form-label" for="employee">Employee</label>
                        <select class="form-select" formControlName="employee" name="employee" (change)="employeeSelected()">
                            <option [ngValue]="employee" *ngFor="let employee of employeeList">{{employee.firstName}} {{employee.lastName}}</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="startDate">Start Date</label>
                        <input type="date" class="form-control" formControlName="startDate" name="startDate">
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="endDate">End Date</label>
                        <input type="date" class="form-control" formControlName="endDate" name="endDate">
                    </div>
                    <button type="submit" class="btn btn-primary w-100" *ngIf="!isGoingToUpdate">Add Leave</button>
                    <button type="button" class="btn btn-primary w-100" *ngIf="isGoingToUpdate" (click)="updateLeave()">Update Leave</button>
                </form>
            </div>
        </div>
        <div class="col-md-8">
            <div class="bg-white p-4 rounded shadow">
                <h4 class="text-center mb-3">Employee's Leaves</h4>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="employeeList.length>0">
                        
                        <tr *ngFor="let leave of leaveList">
                            <td>{{leave.id}}</td>
                            <td>{{ leave.startDate | date: 'yyyy-MM-dd' }}</td>
                            <td>{{leave.endDate | date: 'yyyy-MM-dd' }}</td>
                            <td>
                                <button class="btn btn-warning btn-sm" (click)="onEdit(leave)">Edit</button>
                                <button class="btn btn-danger btn-sm" (click)="onDelete(leave)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="leavesMessage">
                        <tr>
                          <td colspan="6" class="text-center">{{leavesMessage}}</td>
                        </tr>
                    </tbody>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                          <li class="page-item"><button class="page-link" (click)="goToPreviousPage()">&laquo;</button></li>
                          <span class=" mx-3 my-auto">{{(offset/5)+1}}</span>
                          <li class="page-item"><button class="page-link" (click)="goToNextPage()">&raquo;</button></li>
                        </ul>
                    </nav>
                </table>
            </div>
        </div>
    </div>
</div>