<div class="container">
    <h1 class=" text-center my-4 bg-info p-4 text-white fw-bolder">Add Employee</h1>
    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="First Name" aria-label="first name" aria-describedby="basic-addon1">
      </div>
      
      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="text" class="form-control" placeholder="Last Name" aria-label="last name" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"></span>
        <input type="email" class="form-control" placeholder="Email" aria-label="email" aria-describedby="basic-addon1">
      </div>
      
      
      <div class="input-group mb-3">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Department</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
        <span class="input-group-text"></span>
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
            <option selected>Role</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
          </select>
      </div>
      <button type="button" class="btn btn-success">Add Employee</button>
      
</div>
